<div class="navbar-wagon navbar-wagon <%= content_for :nav_class %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag ("logo_01_white.png"), class: "logo", id: "logo"%>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <div id="barsearch" class="container align-right">
      <%= form_tag "/items", method: "get", class: "expandable_searchbar" do %>
      <%= text_field_tag :query, params["query"], class: "expandable_searchbar", placeholder: "Search..." %>
      <% end %>
    </div>

    <!-- Text link -->
    <%= link_to('How it works', root_path( anchor: 'how-it-anchor'), class: "navbar-wagon-item navbar-wagon-link") %>

    <!-- Text link -->
    <%= link_to('Pricing', root_path( anchor: 'price_anchor'), class: "navbar-wagon-item navbar-wagon-link") %>

    <%= link_to items_path, class: "navbar-wagon-item navbar-wagon-link" do %>
    Catalogue
    <% end %>

    <!-- Notification link-->

    <% if user_signed_in? %>
    <%= link_to cart_path, class: "navbar-wagon-item navbar-wagon-link" do%>
      <div class="badge-container">
        <i class="fa fa-shopping-cart"></i>
        <% if current_user.current_order %>
          <div class="badge badge-blue"><%= current_user.current_order.carts.count %></div>
        <% end %>
      </div>
    <% end %>

    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% avatar_url = current_user.facebook_picture_url || "https://res.cloudinary.com/dhrqyxgzp/image/upload/v1481813564/avatar_stan_viuvrl.jpg" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <% if current_user.customer? %>
            <%= link_to profile_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
            <% else %>
            <%= link_to dashboard_path do %>
            <i class="fa fa-tachometer"></i> <%= t(".profile", default: "Dashboard") %>
            <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <%= link_to "Register", "#signupModal", :class => "btn btn-cart register_button", "data-toggle" => "modal" %>
    <%= link_to "Login", "#loginModal", :class => "btn btn-cart login_button", "data-toggle" => "modal" %>
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Sign up</h4>
          </div>
          <div class="modal-body">
            <%= render 'devise/registrations/signup_modal' %>
            <p>Already a member?</p>
            <%= button_tag "Login", class: "btn", id: "btn-login", "data-toggle" => "modal" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <%= render 'devise/sessions/login_modal' %>
            <p>Not a member yet?</p>
            <%= button_tag "Sign Up", class: "btn", id: "btn-signup", "data-toggle" => "modal" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  	<% end %>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">

    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to('Pricing', root_path( anchor: 'price_anchor'), class: "navbar-wagon-item navbar-wagon-link") %>
        </li>
        <li>
          <%= link_to('How it works', root_path( anchor: 'how-it-anchor'), class: "navbar-wagon-item navbar-wagon-link") %>
        </li>
        <li>
          <%= link_to items_path, class: "navbar-wagon-item navbar-wagon-link" do %>
            Catalogue
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
