<div class="container c-margin-b-15">
	<div class="row">
		<div class="col-xs-8 title">
			<h1>Process Order</h1>
		</div>

	</div>
	<div class="row">
		<div class="col-xs-12 col-md-7 c-padding-20">
			<h3 class="c-font-bold c-font-uppercase c-font-24">Billing Address</h3>
			<%= simple_form_for @order, remote: true do |f| %>
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<%= f.input :billing_first_name,  label: 'First Name' %>
					</div>
					<div class="col-xs-6">
						<%= f.input :billing_last_name,  label: 'Last Name' %>
					</div>
				</div>
			</div>
			<%= f.input :billing_line, label: 'Address'%>
			<%= f.input :billing_zip, label: 'Postal Code' %>
			<%= f.input :billing_city, label: 'City' %>
			<%= f.input :billing_country, selected: "BE", label: 'Country'  %>
			<%#= f.button :submit , id: 'Submit', style: "display: none;"%>

			<h3 class="c-font-bold c-font-uppercase c-font-24">Shipping Address</h3>
			<p>Same as Billing Address</p>
			<% end %>
		</div>
		<div class="col-xs-12 col-md-5">
			<div class="c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
				<h3 class="c-font-bold c-font-uppercase c-font-24">Your Order</h3>
				<div class="container">
					<div class="row c-margin-b-15 c-border-bottom">
						<div class="col-xs-6">
							<h3>Product</h3>
						</div>
						<div class="col-xs-6">
							<h3>Total</h3>
						</div>
					</div>
					<div class="row">

					</div>
					<div class="row c-margin-left">
						<% @order.carts.each do |cart| %>
						<div class="col-xs-6">
							<h6><%= cart.item.name %></h6>
						</div>
						<div class="col-xs-6">
							<h6><%= humanized_money(cart.item.price) %>€</h6>
						</div>
						<% end %>
					</div>
					<div class="row c-border-bottom c-border-top c-margin-left">
						<div class="col-xs-6">
							<h4>Subtotal</h4>
							<h4>Shipping</h4>
						</div>
						<div class="col-xs-6">
							<h4><%= @order.total_amount %>€</h4>
							<h4>Free</h4>
						</div>
					</div>
					<div class="row c-margin-left">
						<div class="col-xs-6">
							<h3>Total</h3>
						</div>
						<div class="col-xs-6">
							<h3><%= @order.total_amount %>€</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-xs-offset-6">
							<%= form_tag order_payments_path(@order), class: "stipe-btn", id: "stripe-form" do %>
							<div class="text-center">
								<input
								type="submit"
								data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
								class="btn btn-cart toggle-stripe"
								value="Confirm"
								data-amount="<%= (@order.total_amount * 100) %>"
								data-locale="en"
								data-currency="<%= @order.amount.currency %>"
								data-name="Decoswap"
								data-email='<%= current_user.email %>'
								data-image='http://res.cloudinary.com/dhrqyxgzp/image/upload/v1481821320/logo_stripe_vpboid.png'
								data-description="Furniture as a Service".html_safe/>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="https://checkout.stripe.com/v2/checkout.js"></script>
