<div class="container">
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1 conf-margin">
			<h1>Thank you for using DecoSwap</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 text-center conf-border conf-margin">
			<h2>Order #<%= @order.id %> has been shipped!!</h2>
		</div>
	</div>
	<div class="row conf-margin">
		<div class="col-xs-11 col-xs-offset-1 col-md-4 col-md-offset-2 conf-border-right">
			<h3>How to reach us?</h3>
			<div class="row">
				<div class="col-xs-1"><i class="fa fa-phone" aria-hidden="true"></i></div>
				<div class="col-xs-6"><p>02/ 318 80 66</p></div>
			</div>
			<div class="row">
				<div class="col-xs-1"><i class="fa fa-envelope" aria-hidden="true"></i></div>
				<div class="col-xs-6"><p>customerservice@decoswap.com</p></div>
			</div>
		</div>
		<div class="col-xs-4 col-xs-offset-1 conf-padd-left">
			<h3>Follow us!</h3>
			<div class="row">
				<div class="col-xs-3 conf-margin-bott"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></div>
				<div class="col-xs-3 conf-margin-bott"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></div>
			</div>

			<div class="row">
				<div class="col-xs-3"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></div>
				<div class="col-xs-3"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>
	<div class="row conf-margin">
		<div class="col-xs-12 text-center"><h2>Order Sumary</h2></div>
		<div class="col-xs-12 col-md-5 col-md-offset-2 conf-margin">
			<h4 class="conf-margin-bott">Items</h4>
			<% @order.items.each do |item| %>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-1 conf-image">
					<%= cl_image_tag(item.photos.first.path) %>					
				</div>
				<div class="col-xs-4">
					<div class="row">
						<div class="col-xs-12"><%= item.name %></div>
						<div class="col-xs-12"><%= item.price %>€</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-xs-12 col-md-5 conf-padd-left conf-margin">
			<h4 class="conf-margin-bott">Shipping Address</h4>
			<p><%= @order.billing_first_name %> <%= @order.billing_last_name%></p>
			<p><%= @order.billing_line %></p>
			<p><%= @order.billing_zip %> <%= @order.billing_city %></p>
			<p><%= @order.billing_country %></p>
			<h6>Tracking Number: #12345782738191</h6>
		</div>
		<div class="col-xs-12 col-md-5 col-md-offset-2 conf-margin">
			<h4 class="conf-margin-bott">Cost</h4>
			<div class="row">
				<div class="col-xs-6">
					<p>Subtotal</p>
				</div>
				<div class="col-xs-6">
					<p><%= @order.total_amount %>€</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p>Shipping</p>
				</div>
				<div class="col-xs-6">
					<p>Free</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p>Total</p>
				</div>
				<div class="col-xs-6">
					<p><%= @order.total_amount %>€</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-5 conf-padd-left conf-margin">
			<h4 class="conf-margin-bott">Billing Address</h4>
			<p><%= @order.billing_first_name %> <%= @order.billing_last_name%></p>
			<p><%= @order.billing_line %></p>
			<p><%= @order.billing_zip %> <%= @order.billing_city %></p>
			<p><%= @order.billing_country %></p>
		</div>
	</div>
	<div class="row conf-margin">
		<div class="col-xs-12 text-center">
			<h2>Check these amazing pieces!</h2>
			<div class="section-heading"></div>
			<div id="owl-product">
				<% Item.last(10).each do |item| %>
				<div class="item text-center">
					<%= link_to item_path(item), class:"no-text-decoration" do %>
					<%= render "items/card", item: item %>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>