<% content_for :nav_class, 'navbar-wagon-fixed' %>
<!-- Start video hero -->
<div class="homepage-hero-module hidden-xs hidden-sm">
  <div class="video-container">
    <div class="filter"></div>

    <%= content_tag :div, class: "fillWidth embed-responsive-item" do %>
    <%= video_tag("Mp4/Dancing-Bulbs.mp4", autoplay: true, loop: true)%>
    <% end %>

    <div class="poster hidden">
      <%= image_tag("background.jpg") %>
    </div>

    <div class="title-container">
      <div class="headlines">
        <h1 class="center">decoswap</h1>
        <h3 class="center">Furniture as a Service</h3>
        <div class="container" style="margin-top: 90px;">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <%= link_to items_path, class: "btn-home btn-home-1" do %>
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
              Start Now
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BANNERS -->
<div id="startchange"></div>
<div class="container text-center">
  <div id="how-it-anchor" class="how-it-works text-center">
    <div class="how-it-works-wrapper text-center">
      <h2 class="ds-page-title">How it works</h2>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="with-padding-bottom">

          <div class="how-it-works-img-cnt">
            <%= image_tag("icons/product.svg") %>
          </div>
          <h3 class="ds-page-subtitle-alt">Select your items</h3>
          <p>Choose something unique from the best furniture stores in your city</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="with-padding-bottom">

          <div class="how-it-works-img-cnt">
            <%= image_tag("icons/shipping.svg") %>
          </div>
          <h3 class="ds-page-subtitle-alt">Get delivered</h3>
          <p>Sit back as orders are prepared and sent directly to you</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="with-padding-bottom">

          <div class="how-it-works-img-cnt">
            <%= image_tag("icons/heart_01.svg") %>
          </div>
          <h3 class="ds-page-subtitle-alt">Enjoy it</h3>
          <p>Now you have a beautiful and unique piece. You can keep it as long as you want</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="with-padding-bottom">

          <div class="how-it-works-img-cnt">
            <%= image_tag("icons/swap_01.svg") %>
          </div>
          <h3 class="ds-page-subtitle-alt">Swap it</h3>
          <p>Your item doesn't fit anymore with your new painting?
          Just Swap-it and choose a new one.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center with-small-padding-bottom">
  <div class="how-it-works-wrapper text-center">
    <a href="/how-it-works/" class="btn btn-default">More details</a>
  </div>
</div>



<!-- -/////////////////Princing//////////////////// -->
<div id="price_wrapper">
  <div id="price_anchor" class="container-fluid">
    <div class="row">

      <div class="col-md-4">
        <div class="pricing-box">
          <div class="pricing-title">
            <h3>A LITTLE</h3>
          </div>
          <div class="pricing-price">
            <span class="price-unit">&euro;</span>10<span class="price-tenure">/mth</span>
          </div>
          <div class="pricing-features">
            <ul>
              <li><strong>FAMILLY ITEMS</strong></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pricing-box">
          <div class="pricing-title">
            <h3>A LOT</h3>
          </div>
          <div class="pricing-price">
            <span class="price-unit">&euro;</span>30<span class="price-tenure">/mth</span>
          </div>
          <div class="pricing-features">
            <ul>
              <li><strong>QUALITY ITEMS</strong></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pricing-box">
          <div class="pricing-title">
            <h3>PASSIONATELY</h3>
          </div>
          <div class="pricing-price">
            <span class="price-unit">&euro;</span>70<span class="price-tenure">/mth</span>
          </div>
          <div class="pricing-features">
            <ul>
              <li><strong>DESIGNER ITEMS</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center line-new-product">
  <h2>Discover</h2>
</div>

<!-- -/////////////////end-of-Princing////////////////////////// -->

<!-- /.container -->

<div id="owl-product">
  <% Item.last(10).each do |item| %>
  <div class="item text-center">
    <%= link_to item_path(item), class:"no-text-decoration" do %>
    <%= render "items/card", item: item %>
    <% end %>
  </div>
  <% end %>
</div>
