
<div class="hovereffect_a">
 <div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.0)), url('<%= cl_image_path item.photo if item.photo.model[:photo] %>')">
       <div class="overlay">
          <h2><%= item.name %> </h2>
          <%= link_to "check it out", item_path(item), class: "info" %>
        </div>
        <div class="card-description">
          <div class="text-center font_black">
            <p><%= item.description.first(20) %></p>
          </div>
    </div>
  <p class="text-right font_black margin-bottom"><%= item.price %> €/month</p>
  </div>
</div>