<div class="container police">
 <div class="row">
  <%= simple_form_for :item, url:items_path, html: {method: :get, class: "form-inline text-center"}, data: {autosubmit: true}, remote: true do |f| %>
  <%= f.input :category_item, collection: category_collection, as: :select, label: false, include_blank: "All items", input_html: {name: :category_item}, selected: params[:category_item] %>
  <%= f.hidden_field :name, value: params["query"], name: :query %>
<p> ---</p>
   <%= f.collection_check_boxes :price_cents, price_collection, :last, :first, { item_wrapper_class: "collection_button_wrapper", collection_wrapper_class: "folded tags_collection", checked: params["price_cents"], include_hidden: false }, name: "price_cents[]"%>
<p> ---</p>
 <%= f.collection_check_boxes :color, colors_collection, :last, :first, { item_wrapper_class: "collection_button_wrapper", collection_wrapper_class: "folded tags_collection", checked: params["color"], include_hidden: false }, name: "color[]"%>
<p> ---</p>
 <%= f.collection_check_boxes :materials, materials_collection, :last, :first, { item_wrapper_class: "collection_button_wrapper", collection_wrapper_class: "folded tags_collection", checked: params["materials"], include_hidden: false }, name: "materials[]"%>
<p> </p>
  <% end %>
</div>
</div>
