
<!--   <% if @item.errors.any? %>
    <div class="alert alert-danger" role="alert" style="color:darkred">
      <% @item.errors.full_messages.each do |message| %>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= message.html_safe %><br>
      <% end %>
    </div>
  <% end %> -->

<%= f.input :color %>
<%= f.input :condition %>
<%= f.input :designer %>
<%= f.input :design_period %>
<%= f.input :materials %>
<%= f.input :status %>
<%= f.input :price %>


<!-- <div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @product.photo, height: 300, width: 400, crop: :fill %>')"> -->


<%= f.collection_check_boxes :category_item, category_collection, :first, :last, name: "category_item[]", item_wrapper_class: "col-md-3" %>
    <% end %>
