<h1 class="text-center">Edit item</h1>
<div class="container police">
	<div class="row">
		<div class="col-xs-1 col-sm-1 col-md-1">
		</div>
		<div class="col-xs-10 col-sm-6 col-md-6">
			<%= simple_form_for @item , url: dashboard_item_path(@item) do |f| %>
			<div class="form-inputs">
				<%= f.input :name %>
				<%= f.input :category_item %>
				<%= f.input :size %>
				<%= f.input :photos, as: :attachinary %>
				<%= f.input :description %>
				<%= f.input :price %>
				<%= f.input :status %>
				<%= f.input :color %>
				<%= f.input :condition %>
				<%= f.input :designer %>
				<%= f.input :design_period %>
				<%= f.input :materials %>
			</div>
			<div class="form-actions">
				<%= f.button :submit %>
			</div>
			<% end %>
      <br>
      <div><%= link_to 'Back to product page', item_path(@item), class: "btn btn-cart" %>
      <%= link_to 'Back to Dashboard',  manager_items_dashboard_path, class: "btn btn-cart" %>
      <br>
    </div>
    </div>
    <br>
  </div>
</div>
