<!-- product page -->

<div class= "padding-bottom">
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-6">
      <h1><%= @item.name %> </h1>
      <%= @item.category_item %>
    </div>
  </div>
  <div class="item-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="owl-demo" class="owl-carousel owl-theme">
            <% @item.photos.each do |photo| %>

            <div class="item card-product">
              <%= cl_image_tag(photo.path, :class => 'img-responsive product_main_picture small') %>

            </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-6">
          <h3>Product information</h3>
          <p><%= @item.description %></p>
          <br>
          <p> <strong> Size: </strong>   <%= @item.size %> </p>
          <p> <strong> Condition: </strong>   <%= @item.condition %> </p>
          <p> <strong> Color: </strong>   <%= @item.color %> </p>
          <p> <strong> Materials: </strong>   <%= @item.materials %> </p>
          <p> <strong> Designer: </strong>   <%= @item.designer %> in <%= @item.design_period %> </p>
          <br>
          <h1><%= @item.price_cents/100 %> €/month</h1>
          <%= render 'add-to-cart' %>
        </div>
        <div class="row">
        <div class="col-md-12">
          <h2>Reviews</h2>
          <% if current_user && current_user.customer? %>
          <%= render 'reviews/form', item: @item, review: @review %>
          <% end %>
          <div id="reviews-product-info" class="pre-scrollable">

            <% if current_user && current_user.customer? && @item.reviews.blank? %>
            <p>Be the first to leave a review for <%= @item.name %> </p>


          <div class="col-md-6">

            <div class="product-title"><h1><%= @item.name %></h1></div>
            <div class="product-desc"><h4><%= @item.category_item %></h4></div>
            <div class="product-price"><%= @item.price %>€/month</div>
            <div class="product-stock"><%= @item.status %></div>



            <% if current_user.try(:customer?) %>
            <div class="btn-group cart">
              <%= link_to "Add to cart", "#myModal", :class => "btn btn-primary register_button", "data-toggle" => "modal", id: "add_to_cart" %>
              <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add to cart</button> -->
            </div>
            <%= simple_form_for @cart do |f| %>
            <div class="form-inputs">
              <%= f.input :id, as: :hidden, input_html: {value: @item.id} %>
            </div>

            <div class="form-actions">
              <%#= f.submit 'Add to Cart' %>
            </div>
            <% end %>
            <% else %>
            <div class="btn-group cart">
              <%= link_to "Add to cart", "#loginModal", class: "btn btn-primary register_button", "data-toggle" => "modal", id: "add_to_cart" %>
            </div>

            <% end %>

            <div class="btn-group wishlist">

              <% if current_user.try(:professional?) %>
              <%= link_to "Edit", edit_dashboard_item_path(@item), class: "btn btn-danger" %>
              <% end %>
            </div>

            <% end %>


            <% @item.reviews.reverse.each do |review| %>
            <%= render 'reviews/show', review: review %>
            <% end %>
          </div>
        </div>
        </div>
      </div>

    </div>


  </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Item added to cart!</h4>
        </div>
        <div class="modal-body">
          <%= link_to "Continue Shopping", items_path, class: "btn btn-primary" %>
          <%= link_to "Checkout", cart_path, class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End of Modal -->




<!-- end of product page -->
<script type="text/javascript">
$(document).ready(function(){
  $('.datepicker').datepicker({
    format: "dd/mm/yyyy",autoclose: true

  });
});
</script>
<script type="text/javascript">
  $(document).ready(function() {

    $("#owl-demo").owlCarousel({

      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true

      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

    });

  });
</script>
