<div class="container police">
 <div class="row">
 <br>

 <div class="col-xs-12 col-sm-6 col-md-6">
    <%= cl_image_tag @item.photo, width: 400 %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="card-category text-center">
      <h2><%= @item.name %></h2>
      <p><%= @item.category_item %></p>
      <p><%= @item.description %></p>
      <p><%= @item.price %> €/month </p>
      <p><%= @item.status %></p>

      <br>
      <br>
      <br>

      <%= link_to "Book", new_item_booking_path(@item), class: "btn btn-primary center" %>

      <%= link_to "Edit", edit_dashboard_item_path(@item), class: "btn btn-primary center" %>


    </div>
  </div>

</div>
</div>


