<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="../assets/images/logo.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>DecoSwap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> " >
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= javascript_include_tag 'application' %>
    <%= yield %>
    <%= cloudinary_js_config %>

    <%= render 'shared/footer' %>
  </body>


</html>
